.swipe-container {
    display: flex;
    overflow: hidden;
    position: relative;
  }
  
  .swipe-item {
    min-width: 100%;
    transition: transform 0.3s ease;
    height: 100vh;
    &--row {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
        h2 {
            font-size: 28px;
            font-weight: 700;
            padding-bottom: 100px;
        }
        .img-container {
            position: absolute;
            bottom: 0;
            height: 321px;
            img {
                width: 100%;
                max-width: 100%;
                height: 100%;
            }
        }
    }
    &:nth-child(1) {
        background-color: #0EB8AD;
    }
    &:nth-child(2) {
        background-color: #BF9AFD;
    }
    &:nth-child(3) {
        background-color: #64CBF6;
    }
    &:nth-child(4) {
        background-color: #F68F64;
    }
    &:nth-child(5) {
        background-color: #CBF664;
    }
    
  }
  
  .swipe-item.active {
    display: block;
  }
  
  .swipe-item:not(.active) {
    display: none;
  }

  .swipe-item {
    min-width: 100%;
    transition: transform 0.3s ease;
    // transform: translateX(-{{ currentIndex * 100 }}%);
  }
  

//   txt animation
.swipe-text{
    white-space: nowrap; /* Prevent text from breaking into multiple lines */
    animation: swipeInFromLeft 5s ease-in-out infinite;
}

@keyframes swipeInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0.2;
    }
    30% {
      transform: translateX(0); /* Position at the center */
      opacity: 1;
    }
    70% {
      transform: translateX(0); /* Stay in the center */
      opacity: 1;
    }
    100% {
      transform: translateX(100%); /* End off-screen to the right */
      opacity: 0.1;

    }
  }