<div class="swipe-container" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
    <div class="swipe-item" *ngFor="let section of sections; let i = index" [ngClass]="{'active': i === currentIndex}">
        <div class="swipe-item--row">
            <h2 [ngClass]="{'swipe-text' : i == 0}"> {{section.name}}</h2>
            <div *ngIf="section.img" class="img-container">
              <img [src]="section.img" alt="">
            </div>
        </div>
      <!-- <p>This is content for Section {{ i + 1 }}</p> -->
    </div>
  </div>
  