<!-- ================================== -->
<!-- =============== Hero section=================== -->
<!-- ================================== -->
 <div class="hero-section">
    <!-- <img src="../../../../../assets/img/brand-logo.svg" alt=""> -->
    <h1>
        THE POWER
    </h1>
 </div>

 <!-- product section -->

<div class="container">
    <div class="product">
        <div class="product-container --right">
            <div class="item" style=" background: #BF9AFD;">
                <h2>
                    Walking
                </h2>
                <img src="../../../../../assets/img/walk.png" alt="">
            </div>
            <div class="item overeating" style=" background: #FBE84A;">
                <h2>
                    Stop Overeating
                </h2>
                <img src="../../../../../assets/img/overeating.png" alt="">
            </div>
        </div>
        <div class="product-container --left">
            <div class="item" style="background: #2EBC4B;">
                <h2>
                    Meditation
                </h2>
                <img src="../../../../../assets/img/meditation.png" alt="" width="80">
            </div>
            <div class="item" style="background: #B657FF;">
                <h2>
                    Sleep On Time
                </h2>
                <img src="../../../../../assets/img/sleep.png" alt="" width="170">
            </div>
        </div>
     </div>
    
     <!-- <div class="product">
        <div class="product-container --right">
            <div class="item" style=" background: #BF9AFD;"></div>
            <div class="item" style=" background: #FBE84A;"></div>
        </div>
        <div class="product-container --left">
            <div class="item" style="background: #2EBC4B;"></div>
            <div class="item" style="background: #B657FF;"></div>
        </div>
     </div> -->
</div>

<img class="bunny" src="../../../../../assets/img/bunny-monster.webp" alt="bunny-monster">

<button (click)="launchConfetti()">Celebrate!</button>

<button class="slide-button">
    <span class="icon"><i class="fas fa-superpowers"></i></span>
    <span class="text">Slide to Fly</span>
  </button>