<!-- ================================== -->
<!-- =============== Hero section=================== -->
<!-- ================================== -->
 <div class="hero-section">
    <!-- <img src="../../../../../assets/img/brand-logo.svg" alt=""> -->
    <h1>
        Break Habits 
    </h1>
 </div>

 <!-- product section -->

<div class="container">
    <div class="product">
        <div class="product-container --right">
            <div class="item" style="height: 300px; background: #BF9AFD;"></div>
            <div class="item" style="height: 240px; background: #FBE84A;"></div>
        </div>
        <div class="product-container --left">
            <div class="item" style="height: 240px;background: #2EBC4B;"></div>
            <div class="item" style="height: 300px;background: #B657FF;"></div>
        </div>
     </div>
    
     <div class="product">
        <div class="product-container --right">
            <div class="item" style="height: 300px; background: #BF9AFD;"></div>
            <div class="item" style="height: 240px; background: #FBE84A;"></div>
        </div>
        <div class="product-container --left">
            <div class="item" style="height: 240px;background: #2EBC4B;"></div>
            <div class="item" style="height: 300px;background: #B657FF;"></div>
        </div>
     </div>
</div>

