<!-- ================================== -->
<!-- =============== Hero section=================== -->
<!-- ================================== -->
 <div class="hero-section">
    <!-- <img src="../../../../../assets/img/brand-logo.svg" alt=""> -->
    <h1>
        THE POWER OF HABITS DFE
    </h1>
 </div>

 <!-- product section -->

<div class="container">
    <div class="product">
        <div class="product-container --right">
            <div class="item" style=" background: #BF9AFD;">
                <h2>
                    Walking
                </h2>
                <img src="../../../../../assets/img/walk.png" alt="">
            </div>
            <div class="item overeating" style=" background: #FBE84A;">
                <h2>
                    Stop Overeating
                </h2>
                <img src="../../../../../assets/img/overeating.png" alt="">
            </div>
        </div>
        <div class="product-container --left">
            <div class="item" style="background: #2EBC4B;">
                <h2>
                    Meditation
                </h2>
                <img src="../../../../../assets/img/meditation.png" alt="" width="80">
            </div>
            <div class="item" style="background: #B657FF;">
                <h2>
                    Sleep On Time
                </h2>
                <img src="../../../../../assets/img/sleep.png" alt="" width="170">
            </div>
        </div>
     </div>
    
     <!-- <div class="product">
        <div class="product-container --right">
            <div class="item" style=" background: #BF9AFD;"></div>
            <div class="item" style=" background: #FBE84A;"></div>
        </div>
        <div class="product-container --left">
            <div class="item" style="background: #2EBC4B;"></div>
            <div class="item" style="background: #B657FF;"></div>
        </div>
     </div> -->
</div>

<!-- varint two -->
 <div class="container">
<div class="varient-two" style="margin-top: 20px;">
    <div class="item-card" style=" background: #BF9AFD;">
        <h2>Walking</h2>
        <img src="../../../../../assets/img/walk.png" alt="">
    </div>
    <div class="item-card" style=" background: #FBE84A;">
        <h2>Meditation</h2>
        <img src="../../../../../assets/img/meditation.png" alt="" width="53">
    </div>
    <div class="item-card" style=" background: #2EBC4B;">
        <h2> Stop Overeating</h2>
        <img src="../../../../../assets/img/overeating.png" alt="" width="86" >
    </div>
    <div class="item-card" style=" background: #B657FF;">
        <h2>sleep On Time</h2>
        <img src="../../../../../assets/img/sleep.png" alt="" width="120">
    </div>
</div>
</div>

<img class="bunny" src="../../../../../assets/img/bunny-monster.webp" alt="bunny-monster">

<button (click)="launchConfetti()">Celebrate!</button>

<div class="cta">
    <h2>
        The Power Of Habits
    </h2>
 </div>